/* Layout base */
body {
    margin: 0;
    background: #000;
    color: white;
    font-family: 'Arial', sans-serif;
}

.layout {
    display: flex;
    height: 100vh;

}

/* Sidebar */
.sidebar {
    width: 18vw;
    background: rgba(35, 0, 7, 0.415);
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.buscar{
    width: 70vh;
    border-radius: 1vh;
    border-color: rgb(0, 0, 0);
    background-color:rgba(35, 0, 7, 0.415);
}

.bi bi-search-heart{
    color: #000;
}

.logo {
    font-size: 3vh;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 8px rgba(182, 0, 49, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
}

.menu-um a {
    display: block;
    padding: 1.3vh 1vh;
    color: #b3b3b3;
    text-decoration: none;
    border-radius: 1vh;
    transition: 0.2s;
}

.menu-um a:hover {
    background: rgba(71, 0, 14, 0.339);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
}

.menu-dois a {
    display: block;
    padding: 1.3vh 1vh;
    color: #b3b3b3;
    text-decoration: none;
    border-radius: 1vh;
    transition: 0.2s;
}

.menu-dois a:hover {
    background: rgba(71, 0, 14, 0.339);
    color: rgb(0, 0, 0);

    text-shadow: 0 0 8px rgba(100, 0, 27, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
}

.home {
    flex: 1;
    background: #181818;
    padding: 3vh;
    overflow-y: auto;
}


.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4vh;
}

.nav-btn {
    background: #101010;
    border: none;
    padding: 1vh 2vh;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 2vh;
}

/* Perfil */
.pfp {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    margin-right: 1vh;
}

.perfil svg {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: lighter;
    font-size: 100%;
    transition: 0.3s;
    text-shadow: 50%;
    font-size: medium;
}

.perfil svg:hover {
    text-decoration: underline;
    color: rgb(92, 4, 37);
}

h2 {
    margin-top: 3vh;
    margin-bottom: 2vh;
    font-size: 3vh;
}

/* Cards */
.cards {
    display: flex;
    gap: 2vh;
    overflow-x: auto;
}

.card {
    min-width: 20vh;
    height: 20vh;
    background: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
    cursor: pointer;
    transition: 0.2s;
}

.card:hover {
    background: #333333;
}

.card musica {
    min-width: 22vh;
    height: 30vh;
}
