* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fundo */

body {
    background-image: linear-gradient(to bottom, black, rgb(65, 0, 24), black);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Barra */

.logo {
    height: 30%;
    width: 30%;
    border-radius: 50%;
    margin-top: 3%;
}

.img-bot{
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    margin-top: 3%;
}

.retangulo {
    background-color: rgb(63, 3, 25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 5%; /* espaçamento interno */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%; /* altura proporcional */
}

.abas {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3%; 
    width: 70%; 
}

.abas a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    font-size: 100%;
    transition: 0.3s;
    text-shadow: 50%;
}

.abas a:hover {
    text-decoration: underline;
    color: rgb(92, 4, 37);
}

/* Texto de inicio */

.slogan {
  color: rgb(78, 0, 21);
  font-family: 'Verdana', sans-serif;
  font-size: 130%;

  text-align: center;
  text-align: left;

  margin-top: 7%;
  margin-left: 5%;
  padding-right: 30%;

  
}

.slogan p {
    color: rgba(255, 255, 255, 0.572);
    font-size: 125%;
    margin-top: 2%;
}

.slogan b {
    color: rgb(78, 0, 21);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
}

.slogan h1{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 8px rgba(182, 0, 49, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
}

/* Animação de notas musicais */

.background-music {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; 
    z-index: 01;
}

.note {
    position: absolute;
    color: rgb(0, 0, 0); 
    font-size: 4vh;
    animation: falling linear infinite;
    opacity: 0;
    text-shadow: 0 0 8px rgba(103, 0, 28, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
}

.note:nth-child(1) {
    left: 10%;
    animation-duration: 10s;
    animation-delay: 0s;
}

.note:nth-child(2) {
    left: 25%;
    animation-duration: 8s;
    animation-delay: 2s;
}

.note:nth-child(3) {
    left: 50%;
    animation-duration: 12s;
    animation-delay: 4s;
}

.note:nth-child(4) {
    left: 75%;
    animation-duration: 9s;
    animation-delay: 6s;
}

@keyframes falling {
    0% {
        transform: translateY(-10vh) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(110vh) rotate(720deg);
        opacity: 0.2;
    }
}
