/* Layout geral */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(30, 30, 30);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.barra {
    width: 18vw;
    background: rgba(35, 0, 7, 0.64);
    padding: 3vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.logo h2{
    font-size: 3vh;
    font-weight: bold;
    margin-left: 32%;
    text-shadow: 0 0 8px rgba(182, 0, 49, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
}

.logo img{
    width: 30vh;
    margin-left: 10%;
}

.logo img, h2{
    margin-top: -7vh;
}

.menu a {
    display: block;
    padding: 2vh;
    color: rgb(221, 221, 221);
    text-decoration: none;
    border-radius: 1vh;
    margin-bottom: 1vh;
    transition: 0.2s;
}

.inicio{
    text-shadow: 0 0 8px rgba(182, 0, 49, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
}

.menu a:hover {
    background: rgba(65, 0, 24, 0.786);
}

/* ÁREA DO CHAT */

.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: rgb(31, 31, 31);
    padding: 3vh;
}

/* Mensagens */

h1 {
    text-align: center;
    font-size: 250%;
    text-shadow: 0 0 8px rgba(182, 0, 49, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
}

.mensagens {
    flex: 1;
    display: flex;
    flex-direction: column;
    display: flex;
    gap: 4vh;
    font-size: 120%;
    margin-top: 35vh
}

.msg-bot {
    background: rgba(50, 0, 4, 0.567);
    align-self: flex-start;
    width: 70vh;
    height: 10vh;
    border-radius: 1vh;
    text-align: center;
}

.msg-user {
    background: rgba(72, 0, 14, 0.782);
    align-self: flex-end;
    width: 70vh;
    height: 6vh;
    border-radius: 1vh;
    text-align: center;
}

.msg {
    background: rgba(50, 0, 4, 0.647);
    align-self: flex-start;
    width: 10vh;
    height: 5vh;
    border-radius: 1vh;
    text-align: center;
}

.msg-bot, .msg-user, .msg {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Área de digitar */

.input-digitar {
    display: flex;
    gap: 1.5vh;
    padding: 2vh;
}

.input-digitar input {
    flex: 1;
    padding: 2.5vh;
    border-radius: 1.5vh;
    border: none;
    outline: none;
    background: #292929;
    color: white;
    font-size: 2.2vh;
}

.input-digitar button {
    width: 6vw;
    border: none;
    background: #252525;
    color: white;
    border-radius: 1.5vh;
    cursor: pointer;
    font-size: 2.5vh;
    transition: 0.2s;
}

.input-digitar button:hover {
    background: rgba(50, 0, 4, 0.647)
}

/* Animação de notas musicais */

.background-music {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

.note {
    position: absolute;
    color: rgb(100, 1, 27);
    font-size: 4vh;
    animation: falling linear infinite;
    opacity: 0;

    text-shadow: 0 0 8px rgba(103, 0, 28, 0.8),
        0 0 15px rgba(182, 0, 49, 0.5);
}

.note:nth-child(1) {
    left: 10%;
    animation-duration: 10s;
    animation-delay: 0s;
}

.note:nth-child(2) {
    left: 25%;
    animation-duration: 8s;
    animation-delay: 2s;
}

.note:nth-child(3) {
    left: 50%;
    animation-duration: 12s;
    animation-delay: 4s;
}

.note:nth-child(4) {
    left: 75%;
    animation-duration: 9s;
    animation-delay: 6s;
}

@keyframes falling {
    0% {
        transform: translateY(-10vh) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(110vh) rotate(720deg);
        opacity: 0.2;
    }
}
