body {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(65, 0, 24), rgb(0, 0, 0));
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 8px rgba(182, 0, 49, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
}

.container {
    background: rgba(0, 0, 0, 0.473);
    backdrop-filter: blur(10px);
    padding: 3%;
    width: 50vh;
    max-width: 50%;
    box-shadow: 0 2% 4% rgba(0, 0, 0, 0.15);
    border-radius: 2%;
}

/*Logo*/

.logo {
    height: 40%;
    width: 40%;
    border-radius: 100%;
}

/*Inputs*/

input {
    height: 5vh;
    width: 32vh;
    border-radius: 1vh;
    background-color:  rgba(100, 1, 27, 0.159);
    outline: none;
    border: none;
}

.input-usuario{
    color: rgb(255, 255, 255);
    margin-right: 46% ;
    text-shadow: 0 0 8px rgba(182, 0, 49, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
}

.input-email{
    color: rgb(255, 255, 255);
    margin-right: 50% ;
    text-shadow: 0 0 8px rgba(182, 0, 49, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
}

.input-senha{
    color: rgb(255, 255, 255);
    margin-right: 30%; 
    text-shadow: 0 0 8px rgba(182, 0, 49, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
}

.input-con-senha{
    color: rgb(255, 255, 255);
    margin-right: 22% ;
    text-shadow: 0 0 8px rgba(182, 0, 49, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
}

.input-dt-nasc{
    color: rgb(255, 255, 255);
    margin-right: 21% ;
    text-shadow: 0 0 8px rgba(182, 0, 49, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
}

p{
    font-weight: bold;
    margin-top: 1%;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.248);
    text-align: center;
}

/* Botões*/

button{
    background-image: linear-gradient(to left, rgb(16, 0, 5), rgb(100, 1, 27), rgb(16, 0, 5));
    height: 5vh;
    width: 32vh;
    border-radius: 2vh;
    transition: 0.3s ease;
    outline: none;
    border: none;
    margin-top: 2%;
}

button:hover{
    transform: translateY(-3%);
    box-shadow: 0 2% 4% rgba(0, 0, 0, 0.4);
    scale: 105%;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.btn-cadastrar{
    color:rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-cadastrar:hover{
    color:rgb(255, 255, 255);
}

/*links*/

.links a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    transition: text-decoration 0.3s;
    font-size: small;
    margin-bottom: 0;;
}

.links a:hover {
    color:rgb(255, 255, 255);
    text-decoration: underline;
    text-shadow: 0 0 8px rgba(182, 0, 49, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
} 

/* Animação de notas musicais */

.background-music {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; 
    z-index: 01;
}

.note {
    position: absolute;
    color: rgb(100, 1, 27); 
    font-size: 4vh;
    animation: falling linear infinite;
    opacity: 0;

    text-shadow: 0 0 8px rgba(103, 0, 28, 0.8),
                 0 0 15px rgba(182, 0, 49, 0.5);
}

.note:nth-child(1) {
    left: 10%;
    animation-duration: 10s;
    animation-delay: 0s;
}

.note:nth-child(2) {
    left: 25%;
    animation-duration: 8s;
    animation-delay: 2s;
}

.note:nth-child(3) {
    left: 50%;
    animation-duration: 12s;
    animation-delay: 4s;
}

.note:nth-child(4) {
    left: 75%;
    animation-duration: 9s;
    animation-delay: 6s;
}

@keyframes falling {
    0% {
        transform: translateY(-10vh) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(110vh) rotate(720deg);
        opacity: 0.2;
    }
}
